$primary:#FD7E14;
$secondary:#E64B07;
$success:#ff5100;
$info:#f2ff00;
$warning:#FE2F08;
$danger:#ff0000;
$light:#FFAA75;
$dark:#702B00;



$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);


@import "./node_modules/bootstrap/scss/bootstrap.scss";